version: "3.4"

services:
  app-a:
    build: ./fastapi_app/
    ports:
      - "8000:8000"
    volumes:
      - ./fastapi_app:/app
    environment:
      APP_NAME: "app-a"
      MODE: "otel-collector-grpc"
      OTEL_GRPC_ENDPOINT: "otel-collector:4317"
      TARGET_ONE_HOST: "app-b"
      TARGET_TWO_HOST: "app-c"
  
  app-b:
    build: ./fastapi_app/
    ports:
      - "8001:8000"
    volumes:
      - ./fastapi_app:/app
    environment:
      APP_NAME: "app-b"
      MODE: "otel-collector-http"
      OTEL_HTTP_ENDPOINT: "http://otel-collector:4318/v1/traces"
      TARGET_ONE_HOST: "app-b"
      TARGET_TWO_HOST: "app-c"
  
  app-c:
    build: ./fastapi_app/
    ports:
      - "8002:8000"
    volumes:
      - ./fastapi_app:/app
    environment:
      APP_NAME: "app-c"
      MODE: "jaeger-grpc"
      JAEGER_GRPC_ENDPOINT: "jaeger-collector:4317"
      TARGET_ONE_HOST: "app-b"
      TARGET_TWO_HOST: "app-c"

  app-d:
    build: ./fastapi_app/
    ports:
      - "8003:8000"
    volumes:
      - ./fastapi_app:/app
    environment:
      APP_NAME: "app-d"
      MODE: "jaeger-http"
      JAEGER_HTTP_ENDPOINT: "http://jaeger-collector:4318/v1/traces"
      TARGET_ONE_HOST: "app-b"
      TARGET_TWO_HOST: "app-c"

  jaeger-collector:
    image: jaegertracing/jaeger-collector:1.50.0
    command: 
      - "--cassandra.keyspace=jaeger_v1_dc1"
      - "--cassandra.servers=cassandra"
      - "--collector.otlp.enabled=true"
    environment: 
      - SAMPLING_CONFIG_TYPE=adaptive
    ports:
      - "4317" # accept OpenTelemetry Protocol (OTLP) over gRPC
      - "4318" # accept OpenTelemetry Protocol (OTLP) over HTTP
    restart: on-failure
    depends_on:
      - cassandra-schema

  cassandra:
    image: cassandra:4.1.2

  cassandra-schema:
    image: jaegertracing/jaeger-cassandra-schema:1.50.0
    depends_on:
      - cassandra

  jaeger-query:
    image: jaegertracing/jaeger-query:1.50.0
    command:
      - "--cassandra.keyspace=jaeger_v1_dc1"
      - "--cassandra.servers=cassandra"
    ports:
      - "16686:16686"
      - "16687:16687"
    restart: on-failure
    depends_on:
      - cassandra-schema

  otel-collector:
    image: otel/opentelemetry-collector-contrib:0.88.0
    command:
      - "--config=/conf/config.yaml"
    volumes:
      - ./etc/otel-collector-config.yaml:/conf/config.yaml
    ports:
      - "4317" # OTLP gRPC receiver
      - "4318" # OTLP http receiver
    restart: on-failure
    depends_on:
      - jaeger-collector
